
SELECT * FROM dbo.Cat
SELECT * FROM dbo.Mammal

ALTER TABLE [dbo].[Animal] DROP CONSTRAINT [FK8DED0743B77C69F9]
ALTER TABLE [dbo].[Animal] DROP CONSTRAINT [FK8DED0743CE2F4A5D]
ALTER TABLE [dbo].[Animal] DROP CONSTRAINT [FK8DED0743F6A91370]
ALTER TABLE [dbo].[Cat] DROP CONSTRAINT [FK983303232BA76857]
ALTER TABLE [dbo].[Dog] DROP CONSTRAINT [FKAAA2AAA32BA76857]
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FKBF2D7FFDE7B80F7]
ALTER TABLE [dbo].[EmployeeTerritories] DROP CONSTRAINT [FKF4419A39B229473A]
ALTER TABLE [dbo].[EmployeeTerritories] DROP CONSTRAINT [FKF4419A39BBA2339D]
ALTER TABLE [dbo].[Lizard] DROP CONSTRAINT [FKD8DE3264EBBAEE33]
ALTER TABLE [dbo].[Mammal] DROP CONSTRAINT [FK180FD9F36676DC17]
ALTER TABLE [dbo].[OrderLines] DROP CONSTRAINT [FK9D532A8F25C466D]
ALTER TABLE [dbo].[OrderLines] DROP CONSTRAINT [FK9D532A8FD0FB5F15]
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK318A099B476D239C]
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK318A099B5D4A9938]
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK318A099BBBA2339D]
ALTER TABLE [dbo].[PatientRecords] DROP CONSTRAINT [FK43582E961AB7AECE]
ALTER TABLE [dbo].[PatientRecords] DROP CONSTRAINT [FK43582E96A06D1DCD]
ALTER TABLE [dbo].[Patients] DROP CONSTRAINT [FK668848599D524470]
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK4A7FD86A4A4379C2]
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK4A7FD86A7E57CC2E]
ALTER TABLE [dbo].[Reptile] DROP CONSTRAINT [FK93D08BCA6676DC17]
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [FK1A2E670F36A436]
ALTER TABLE [dbo].[Roles] DROP CONSTRAINT [FK1A2E670F9E248253]
ALTER TABLE [dbo].[Territories] DROP CONSTRAINT [FKE8C9AC0917D79B7C]
ALTER TABLE [dbo].[TimesheetEntries] DROP CONSTRAINT [FK7E222050C7D0B317]
ALTER TABLE [dbo].[TimeSheetUsers] DROP CONSTRAINT [FKA6EEF73795E61DFF]
ALTER TABLE [dbo].[TimeSheetUsers] DROP CONSTRAINT [FKA6EEF737C7D0B317]
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK2C1C7FE5D8C957C7]
DROP TABLE [dbo].[TimeSheetUsers]
DROP TABLE [dbo].[Users]
DROP TABLE [dbo].[OrderLines]
DROP TABLE [dbo].[Cat]
DROP TABLE [dbo].[Dog]
DROP TABLE [dbo].[EmployeeTerritories]
DROP TABLE [dbo].[Lizard]
DROP TABLE [dbo].[PatientRecords]
DROP TABLE [dbo].[Patients]
DROP TABLE [dbo].[Products]
DROP TABLE [dbo].[Reptile]
DROP TABLE [dbo].[Roles]
DROP TABLE [dbo].[Mammal]
DROP TABLE [dbo].[Orders]
DROP TABLE [dbo].[Territories]
DROP TABLE [dbo].[TimesheetEntries]
DROP TABLE [dbo].[Timesheets]
DROP TABLE [dbo].[Employees]
DROP TABLE [dbo].[Categories]
DROP TABLE [dbo].[Customers]
DROP TABLE [dbo].[Animal]
DROP TABLE [dbo].[AnotherEntity]
DROP TABLE [dbo].[Shippers]
DROP TABLE [dbo].[States]
DROP TABLE [dbo].[Suppliers]
DROP TABLE [dbo].[Region]
DROP TABLE [dbo].[Physicians]


/*
	NHibernate测试数据库建立
	创建人：王衡
	创建日期：2012-05-21
	---------------------------------------
	修改日期		修改人			详情
*/
USE master
go
--启动可执行windows命令
	EXEC sp_configure 'show advanced options', 1
	GO 
	RECONFIGURE
	GO 
	EXEC sp_configure 'xp_cmdshell', 1
	GO 
	RECONFIGURE
	GO 
-------------------------------------------

--如果存在当前数据库活动的进程 立马Kill  
DECLARE @spid INT
SELECT @spid = spid from master..sysprocesses where dbid=db_id('NHibernateTestDB')
IF(@spid>0)  EXEC (' KILL ' + @spid)   
--------------------------------------------

IF EXISTS (SELECT 1 FROM sys.databases WHERE name = 'NHibernateTestDB')
	DROP DATABASE NHibernateTestDB
Go
CREATE DATABASE NHibernateTestDB
ON
(
	NAME = 'NHibernateTestDB_data.mdf',
	FILENAME = 'E:\PinMei.Co\DB\NHibernateTestDB_data.mdf',
	FILEGROWTH =5%
)
LOG ON
(
	NAME ='NHibernateTestDB_log.ldf',
	FILENAME ='E:\PinMei.Co\DB\NHibernateTestDB_log.ldf',
	FILEGROWTH =5%
)
Go


USE NHibernateTestDB
/****** Object:  Table [dbo].[Physicians]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Physicians](
	[PhysicianId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhysicianId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Physicians] ON
INSERT [dbo].[Physicians] ([PhysicianId], [Name]) VALUES (1, N'Dr Dobbs')
INSERT [dbo].[Physicians] ([PhysicianId], [Name]) VALUES (2, N'Dr Watson')
SET IDENTITY_INSERT [dbo].[Physicians] OFF
/****** Object:  Table [dbo].[Region]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionId] [bigint] IDENTITY(1,1) NOT NULL,
	[RegionDescription] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[HomePage] [nvarchar](255) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Suppliers] ([SupplierId], [CompanyName], [ContactName], [ContactTitle], [HomePage], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', N'Purchasing Manager', N'', N'49 Gilbert St.', N'London', N'', N'EC1 4SD', N'UK', N'(171) 555-2222', N'')
INSERT [dbo].[Suppliers] ([SupplierId], [CompanyName], [ContactName], [ContactTitle], [HomePage], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', N'Order Administrator', N'#CAJUN.HTM#', N'P.O. Box 78934', N'New Orleans', N'LA', N'70117', N'USA', N'(100) 555-4822', N'')
INSERT [dbo].[Suppliers] ([SupplierId], [CompanyName], [ContactName], [ContactTitle], [HomePage], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', N'Sales Representative', N'', N'707 Oxford Rd.', N'Ann Arbor', N'MI', N'48104', N'USA', N'(313) 555-5735', N'(313) 555-3349')
/****** Object:  Table [dbo].[States]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [bigint] IDENTITY(1,1) NOT NULL,
	[Abbreviation] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[States] ON
INSERT [dbo].[States] ([StateId], [Abbreviation], [FullName]) VALUES (1, N'NY', N'New York')
INSERT [dbo].[States] ([StateId], [Abbreviation], [FullName]) VALUES (2, N'FL', N'Florida')
SET IDENTITY_INSERT [dbo].[States] OFF
/****** Object:  Table [dbo].[Shippers]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippers](
	[ShipperId] [int] NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[Phone] [nvarchar](24) NULL,
	[Reference] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipperId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Shippers] ([ShipperId], [CompanyName], [Phone], [Reference]) VALUES (1, N'Speedy Express', N'(503) 555-9831', N'356e4a7e-b027-4321-ba40-e2677e6502cf')
INSERT [dbo].[Shippers] ([ShipperId], [CompanyName], [Phone], [Reference]) VALUES (2, N'United Package', N'(503) 555-3199', N'6dfcd0d7-4d2e-4525-a502-3ea9aa52e965')
INSERT [dbo].[Shippers] ([ShipperId], [CompanyName], [Phone], [Reference]) VALUES (3, N'Federal Shipping', N'(503) 555-9931', N'716f114b-e253-4166-8c76-46e6f340b58f')
/****** Object:  Table [dbo].[AnotherEntity]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnotherEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Output] [nvarchar](255) NULL,
	[Input] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnotherEntity] ON
INSERT [dbo].[AnotherEntity] ([Id], [Output]) VALUES (1, N'output')
INSERT [dbo].[AnotherEntity] ([Id], [Input]) VALUES (2, N'input')
INSERT [dbo].[AnotherEntity] ([Id], [Input], [Output]) VALUES (3, N'i/o', N'i/o')
SET IDENTITY_INSERT [dbo].[AnotherEntity] OFF
/****** Object:  Table [dbo].[Animal]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[body_weight] [float] NULL,
	[mother_id] [int] NULL,
	[father_id] [int] NULL,
	[SerialNumber] [nvarchar](255) NULL,
	[ParentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Animal] ON
INSERT [dbo].[Animal] ([Id], [Description], [body_weight], [mother_id], [father_id], [SerialNumber], [ParentId]) VALUES (1, NULL, 100, NULL, NULL, N'123', NULL)
INSERT [dbo].[Animal] ([Id], [Description], [body_weight], [mother_id], [father_id], [SerialNumber], [ParentId]) VALUES (2, NULL, 40, NULL, NULL, N'789', NULL)
INSERT [dbo].[Animal] ([Id], [Description], [body_weight], [mother_id], [father_id], [SerialNumber], [ParentId]) VALUES (3, NULL, 30, NULL, NULL, N'1234', NULL)
SET IDENTITY_INSERT [dbo].[Animal] OFF
/****** Object:  Table [dbo].[Customers]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [nvarchar](255) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
	[Fax] [nvarchar](24) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerId], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax]) VALUES (N'ALFKI', N'Alfreds Futterkiste', N'Maria Anders', N'Sales Representative', N'Obere Str. 57', N'Berlin', N'', N'12209', N'Germany', N'030-0074321', N'030-0076545')
INSERT [dbo].[Customers] ([CustomerId], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax]) VALUES (N'ANATR', N'Ana Trujillo Emparedados y helados', N'Ana Trujillo', N'Owner', N'Avda. de la Constitución 2222', N'México D.F.', N'', N'05021', N'Mexico', N'(5) 555-4729', N'(5) 555-3745')
INSERT [dbo].[Customers] ([CustomerId], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax]) VALUES (N'ANTON', N'Antonio Moreno Taquería', N'Antonio Moreno', N'Owner', N'Mataderos  2312', N'México D.F.', N'', N'05023', N'Mexico', N'(5) 555-3932', N'')
/****** Object:  Table [dbo].[Categories]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description]) VALUES (1, N'Beverages', N'Soft drinks, coffees, teas, beers, and ales')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description]) VALUES (2, N'Condiments', N'Sweet and savory sauces, relishes, spreads, and seasonings')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Description]) VALUES (3, N'Confections', N'Desserts, candies, and sweet breads')
/****** Object:  Table [dbo].[Employees]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](10) NOT NULL,
	[Title] [nvarchar](30) NULL,
	[TitleOfCourtesy] [nvarchar](25) NULL,
	[BirthDate] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[HomePhone] [nvarchar](24) NULL,
	[Extension] [nvarchar](4) NULL,
	[Notes] [nvarchar](4000) NULL,
	[ReportsTo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheets]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheets](
	[TimesheetId] [int] IDENTITY(1,1) NOT NULL,
	[SubmittedDate] [datetime] NULL,
	[Submitted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimesheetId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Timesheets] ON
INSERT [dbo].[Timesheets] ([TimesheetId], [SubmittedDate], [Submitted]) VALUES (1, CAST(0x00009D9800000000 AS DateTime), 1)
INSERT [dbo].[Timesheets] ([TimesheetId], [SubmittedDate], [Submitted]) VALUES (2, CAST(0x00009D9700000000 AS DateTime), 0)
INSERT [dbo].[Timesheets] ([TimesheetId], [SubmittedDate], [Submitted]) VALUES (3, CAST(0x00009D990110B41C AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Timesheets] OFF
/****** Object:  Table [dbo].[TimesheetEntries]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimesheetEntries](
	[TimesheetEntryId] [int] IDENTITY(1,1) NOT NULL,
	[EntryDate] [datetime] NULL,
	[NumberOfHours] [int] NULL,
	[Comments] [nvarchar](255) NULL,
	[TimesheetID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimesheetEntryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TimesheetEntries] ON
INSERT [dbo].[TimesheetEntries] ([TimesheetEntryId], [EntryDate], [NumberOfHours], [Comments], [TimesheetID]) VALUES (1, CAST(0x00009D9800000000 AS DateTime), 6, N'testing 123', 2)
INSERT [dbo].[TimesheetEntries] ([TimesheetEntryId], [EntryDate], [NumberOfHours], [Comments], [TimesheetID]) VALUES (2, CAST(0x00009D9900000000 AS DateTime), 14, NULL, 2)
INSERT [dbo].[TimesheetEntries] ([TimesheetEntryId], [EntryDate], [NumberOfHours], [Comments], [TimesheetID]) VALUES (3, CAST(0x00009D980116325C AS DateTime), 4, NULL, 3)
SET IDENTITY_INSERT [dbo].[TimesheetEntries] OFF
/****** Object:  Table [dbo].[Territories]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Territories](
	[TerritoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[TerritoryDescription] [nvarchar](50) NOT NULL,
	[RegionId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TerritoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [nvarchar](255) NOT NULL,
	[EmployeeId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[RequiredDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
	[ShipVia] [int] NULL,
	[Freight] [decimal](19, 5) NULL,
	[ShipName] [nvarchar](40) NULL,
	[ShipAddress] [nvarchar](60) NULL,
	[ShipCity] [nvarchar](15) NULL,
	[ShipRegion] [nvarchar](15) NULL,
	[ShipPostalCode] [nvarchar](10) NULL,
	[ShipCountry] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [EmployeeId], [OrderDate], [RequiredDate], [ShippedDate], [ShipVia], [Freight], [ShipName], [ShipAddress], [ShipCity], [ShipRegion], [ShipPostalCode], [ShipCountry]) VALUES (10248, N'VINET', 5, CAST(0x000089B000000000 AS DateTime), CAST(0x000089CC00000000 AS DateTime), CAST(0x000089BC00000000 AS DateTime), 3, CAST(32.38000 AS Decimal(19, 5)), N'Vins et alcools Chevalier', N'59 rue de l''Abbaye', N'Reims', N'null', N'51100', N'France')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [EmployeeId], [OrderDate], [RequiredDate], [ShippedDate], [ShipVia], [Freight], [ShipName], [ShipAddress], [ShipCity], [ShipRegion], [ShipPostalCode], [ShipCountry]) VALUES (10249, N'TOMSP', 6, CAST(0x000089B100000000 AS DateTime), CAST(0x000089DB00000000 AS DateTime), CAST(0x000089B600000000 AS DateTime), 1, CAST(11.61000 AS Decimal(19, 5)), N'Toms Spezialitäten', N'Luisenstr. 48', N'Münster', N'null', N'44087', N'Germany')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [EmployeeId], [OrderDate], [RequiredDate], [ShippedDate], [ShipVia], [Freight], [ShipName], [ShipAddress], [ShipCity], [ShipRegion], [ShipPostalCode], [ShipCountry]) VALUES (10250, N'HANAR', 4, CAST(0x000089B400000000 AS DateTime), CAST(0x000089D000000000 AS DateTime), CAST(0x000089B800000000 AS DateTime), 2, CAST(65.83000 AS Decimal(19, 5)), N'Hanari Carnes', N'Rua do Paço, 67', N'Rio de Janeiro', N'RJ', N'05454-876', N'Brazil')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
/****** Object:  Table [dbo].[Mammal]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mammal](
	[Animal] [int] NOT NULL,
	[Pregnant] [bit] NULL,
	[BirthDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Animal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Mammal] ([Animal], [Pregnant], [BirthDate]) VALUES (4, 0, CAST(0x000072E300000000 AS DateTime))
INSERT [dbo].[Mammal] ([Animal], [Pregnant], [BirthDate]) VALUES (5, 0, CAST(0x0000737E00000000 AS DateTime))
INSERT [dbo].[Mammal] ([Animal], [Pregnant], [BirthDate]) VALUES (6, 1, NULL)
/****** Object:  Table [dbo].[Roles]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[EntityId] [int] NULL,
	[ParentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([Id], [Name], [IsActive], [EntityId], [ParentId]) VALUES (1, N'Admin', 1, 1, NULL)
INSERT [dbo].[Roles] ([Id], [Name], [IsActive], [EntityId], [ParentId]) VALUES (2, N'User', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[Reptile]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reptile](
	[Animal] [int] NOT NULL,
	[BodyTemperature] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Animal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Reptile] ([Animal], [BodyTemperature]) VALUES (2, 14)
INSERT [dbo].[Reptile] ([Animal], [BodyTemperature]) VALUES (3, 18)
/****** Object:  Table [dbo].[Products]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[SupplierId] [int] NULL,
	[CategoryId] [int] NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [decimal](19, 5) NULL,
	[UnitsInStock] [int] NULL,
	[UnitsOnOrder] [int] NULL,
	[ReorderLevel] [int] NULL,
	[Discontinued] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Products] ([ProductId], [ProductName], [SupplierId], [CategoryId], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (1, N'Chai', 1, 1, N'10 boxes x 20 bags', CAST(18.00000 AS Decimal(19, 5)), 39, 0, 10, 0)
INSERT [dbo].[Products] ([ProductId], [ProductName], [SupplierId], [CategoryId], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (2, N'Chang', 1, 1, N'24 - 12 oz bottles', CAST(19.00000 AS Decimal(19, 5)), 17, 40, 25, 0)
INSERT [dbo].[Products] ([ProductId], [ProductName], [SupplierId], [CategoryId], [QuantityPerUnit], [UnitPrice], [UnitsInStock], [UnitsOnOrder], [ReorderLevel], [Discontinued]) VALUES (3, N'Aniseed Syrup', 1, 2, N'12 - 550 ml bottles', CAST(10.00000 AS Decimal(19, 5)), 13, 70, 25, 0)
/****** Object:  Table [dbo].[Patients]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [bigint] IDENTITY(1,1) NOT NULL,
	[Active] [bit] NOT NULL,
	[PhysicianId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Patients] ON
INSERT [dbo].[Patients] ([PatientId], [Active], [PhysicianId]) VALUES (1, 0, 1)
INSERT [dbo].[Patients] ([PatientId], [Active], [PhysicianId]) VALUES (2, 1, 2)
SET IDENTITY_INSERT [dbo].[Patients] OFF
/****** Object:  Table [dbo].[PatientRecords]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientRecords](
	[PatientRecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[Gender] [int] NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[StateId] [bigint] NULL,
	[ZipCode] [nvarchar](255) NULL,
	[PatientId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientRecordId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientRecords] ON
INSERT [dbo].[PatientRecords] ([PatientRecordId], [Gender], [BirthDate], [FirstName], [LastName], [AddressLine1], [AddressLine2], [City], [StateId], [ZipCode], [PatientId]) VALUES (1, 1, CAST(0x00002ACD00000000 AS DateTime), N'Bob', N'Barker', N'123 Main St', NULL, N'New York', 1, N'10001', 1)
INSERT [dbo].[PatientRecords] ([PatientRecordId], [Gender], [BirthDate], [FirstName], [LastName], [AddressLine1], [AddressLine2], [City], [StateId], [ZipCode], [PatientId]) VALUES (2, 1, CAST(0x0000627200000000 AS DateTime), N'John', N'Doe', N'123 Main St', NULL, N'Tampa', 2, N'33602', 2)
INSERT [dbo].[PatientRecords] ([PatientRecordId], [Gender], [BirthDate], [FirstName], [LastName], [AddressLine1], [AddressLine2], [City], [StateId], [ZipCode], [PatientId]) VALUES (3, 0, CAST(0x0000627200000000 AS DateTime), N'John', N'Doe', N'123 Main St', N'Apt 2', N'Tampa', 2, N'33602', 2)
SET IDENTITY_INSERT [dbo].[PatientRecords] OFF
/****** Object:  Table [dbo].[Lizard]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lizard](
	[Reptile] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Reptile] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Lizard] ([Reptile]) VALUES (2)
INSERT [dbo].[Lizard] ([Reptile]) VALUES (3)
/****** Object:  Table [dbo].[EmployeeTerritories]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTerritories](
	[EmployeeId] [int] NOT NULL,
	[TerritoryId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TerritoryId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dog]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dog](
	[Mammal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Mammal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Dog] ([Mammal]) VALUES (4)
INSERT [dbo].[Dog] ([Mammal]) VALUES (5)
/****** Object:  Table [dbo].[Cat]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat](
	[Id] [INT] NOT NULL PRIMARY KEY IDENTITY(1,1),
	[Mammal] [int] NOT NULL DEFAULT (0),
	NAME NVARCHAR(10) NOT NULL ,
	Sex CHAR NOT NULL ,
	[Weight] DECIMAL NOT NULL
 ) ON [PRIMARY]
GO
INSERT [dbo].[Cat] ([Mammal]) VALUES (6)
/****** Object:  Table [dbo].[OrderLines]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLines](
	[OrderLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UnitPrice] [decimal](19, 5) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [decimal](19, 5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderLineId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderLines] ON
INSERT [dbo].[OrderLines] ([OrderLineId], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (1, 10248, 11, CAST(14.00000 AS Decimal(19, 5)), 12, CAST(0.00000 AS Decimal(19, 5)))
INSERT [dbo].[OrderLines] ([OrderLineId], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (2, 10248, 42, CAST(9.80000 AS Decimal(19, 5)), 10, CAST(0.00000 AS Decimal(19, 5)))
INSERT [dbo].[OrderLines] ([OrderLineId], [OrderId], [ProductId], [UnitPrice], [Quantity], [Discount]) VALUES (3, 10248, 72, CAST(34.80000 AS Decimal(19, 5)), 5, CAST(0.00000 AS Decimal(19, 5)))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
SET IDENTITY_INSERT [dbo].[OrderLines] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[InvalidLoginAttempts] [int] NULL,
	[RegisteredAt] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[Enum1] [nvarchar](12) NULL,
	[Enum2] [int] NOT NULL,
	[Features] [int] NOT NULL DEFAULT(0),
	[RoleId] [int] NULL,
	[Property1] [varchar](255) NULL,
	[Property2] [varchar](255) NULL,
	[OtherProperty1] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([UserId], [Name], [InvalidLoginAttempts], [RegisteredAt], [LastLoginDate], [Enum1], [Enum2], [RoleId], [Property1], [Property2], [OtherProperty1]) VALUES (1, N'ayende', 4, CAST(0x00009D9800000000 AS DateTime), NULL, N'Medium', 1, 1, N'test1', N'test2', N'othertest1')
INSERT [dbo].[Users] ([UserId], [Name], [InvalidLoginAttempts], [RegisteredAt], [LastLoginDate], [Enum1], [Enum2], [RoleId], [Property1], [Property2], [OtherProperty1]) VALUES (2, N'rahien', 5, CAST(0x00008D3E00000000 AS DateTime), NULL, N'Small', 0, 2, NULL, N'test2', NULL)
INSERT [dbo].[Users] ([UserId], [Name], [InvalidLoginAttempts], [RegisteredAt], [LastLoginDate], [Enum1], [Enum2], [Features], [RoleId], [Property1], [Property2], [OtherProperty1]) VALUES (3, N'nhibernate', 6, CAST(0x00008EAC00000000 AS DateTime), CAST(0x00009D970110B41C AS DateTime), N'Medium', 0, 8, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[TimeSheetUsers]    Script Date: 06/17/2010 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheetUsers](
	[TimesheetID] [int] NOT NULL,
	[UserId] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TimeSheetUsers] ([TimesheetID], [UserId]) VALUES (1, 1)
INSERT [dbo].[TimeSheetUsers] ([TimesheetID], [UserId]) VALUES (1, 2)
INSERT [dbo].[TimeSheetUsers] ([TimesheetID], [UserId]) VALUES (2, 1)
/****** Object:  ForeignKey [FK8DED0743B77C69F9]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK8DED0743B77C69F9] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Animal] ([Id])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK8DED0743B77C69F9]
GO
/****** Object:  ForeignKey [FK8DED0743CE2F4A5D]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK8DED0743CE2F4A5D] FOREIGN KEY([father_id])
REFERENCES [dbo].[Animal] ([Id])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK8DED0743CE2F4A5D]
GO
/****** Object:  ForeignKey [FK8DED0743F6A91370]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK8DED0743F6A91370] FOREIGN KEY([mother_id])
REFERENCES [dbo].[Animal] ([Id])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK8DED0743F6A91370]
GO
/****** Object:  ForeignKey [FK983303232BA76857]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Cat]  WITH CHECK ADD  CONSTRAINT [FK983303232BA76857] FOREIGN KEY([Mammal])
REFERENCES [dbo].[Mammal] ([Animal])
GO
ALTER TABLE [dbo].[Cat] CHECK CONSTRAINT [FK983303232BA76857]
GO
/****** Object:  ForeignKey [FKAAA2AAA32BA76857]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Dog]  WITH CHECK ADD  CONSTRAINT [FKAAA2AAA32BA76857] FOREIGN KEY([Mammal])
REFERENCES [dbo].[Mammal] ([Animal])
GO
ALTER TABLE [dbo].[Dog] CHECK CONSTRAINT [FKAAA2AAA32BA76857]
GO
/****** Object:  ForeignKey [FKBF2D7FFDE7B80F7]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FKBF2D7FFDE7B80F7] FOREIGN KEY([ReportsTo])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FKBF2D7FFDE7B80F7]
GO
/****** Object:  ForeignKey [FKF4419A39B229473A]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[EmployeeTerritories]  WITH CHECK ADD  CONSTRAINT [FKF4419A39B229473A] FOREIGN KEY([TerritoryId])
REFERENCES [dbo].[Territories] ([TerritoryId])
GO
ALTER TABLE [dbo].[EmployeeTerritories] CHECK CONSTRAINT [FKF4419A39B229473A]
GO
/****** Object:  ForeignKey [FKF4419A39BBA2339D]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[EmployeeTerritories]  WITH CHECK ADD  CONSTRAINT [FKF4419A39BBA2339D] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeTerritories] CHECK CONSTRAINT [FKF4419A39BBA2339D]
GO
/****** Object:  ForeignKey [FKD8DE3264EBBAEE33]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Lizard]  WITH CHECK ADD  CONSTRAINT [FKD8DE3264EBBAEE33] FOREIGN KEY([Reptile])
REFERENCES [dbo].[Reptile] ([Animal])
GO
ALTER TABLE [dbo].[Lizard] CHECK CONSTRAINT [FKD8DE3264EBBAEE33]
GO
/****** Object:  ForeignKey [FK180FD9F36676DC17]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Mammal]  WITH CHECK ADD  CONSTRAINT [FK180FD9F36676DC17] FOREIGN KEY([Animal])
REFERENCES [dbo].[Animal] ([Id])
GO
ALTER TABLE [dbo].[Mammal] CHECK CONSTRAINT [FK180FD9F36676DC17]
GO
/****** Object:  ForeignKey [FK9D532A8F25C466D]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK9D532A8F25C466D] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK9D532A8F25C466D]
GO
/****** Object:  ForeignKey [FK9D532A8FD0FB5F15]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK9D532A8FD0FB5F15] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK9D532A8FD0FB5F15]
GO
/****** Object:  ForeignKey [FK318A099B476D239C]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK318A099B476D239C] FOREIGN KEY([ShipVia])
REFERENCES [dbo].[Shippers] ([ShipperId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK318A099B476D239C]
GO
/****** Object:  ForeignKey [FK318A099B5D4A9938]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK318A099B5D4A9938] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK318A099B5D4A9938]
GO
/****** Object:  ForeignKey [FK318A099BBBA2339D]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK318A099BBBA2339D] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK318A099BBBA2339D]
GO
/****** Object:  ForeignKey [FK43582E961AB7AECE]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[PatientRecords]  WITH CHECK ADD  CONSTRAINT [FK43582E961AB7AECE] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([PatientId])
GO
ALTER TABLE [dbo].[PatientRecords] CHECK CONSTRAINT [FK43582E961AB7AECE]
GO
/****** Object:  ForeignKey [FK43582E96A06D1DCD]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[PatientRecords]  WITH CHECK ADD  CONSTRAINT [FK43582E96A06D1DCD] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[PatientRecords] CHECK CONSTRAINT [FK43582E96A06D1DCD]
GO
/****** Object:  ForeignKey [FK668848599D524470]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK668848599D524470] FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physicians] ([PhysicianId])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK668848599D524470]
GO
/****** Object:  ForeignKey [FK4A7FD86A4A4379C2]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK4A7FD86A4A4379C2] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK4A7FD86A4A4379C2]
GO
/****** Object:  ForeignKey [FK4A7FD86A7E57CC2E]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK4A7FD86A7E57CC2E] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK4A7FD86A7E57CC2E]
GO
/****** Object:  ForeignKey [FK93D08BCA6676DC17]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Reptile]  WITH CHECK ADD  CONSTRAINT [FK93D08BCA6676DC17] FOREIGN KEY([Animal])
REFERENCES [dbo].[Animal] ([Id])
GO
ALTER TABLE [dbo].[Reptile] CHECK CONSTRAINT [FK93D08BCA6676DC17]
GO
/****** Object:  ForeignKey [FK1A2E670F36A436]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK1A2E670F36A436] FOREIGN KEY([EntityId])
REFERENCES [dbo].[AnotherEntity] ([Id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK1A2E670F36A436]
GO
/****** Object:  ForeignKey [FK1A2E670F9E248253]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK1A2E670F9E248253] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK1A2E670F9E248253]
GO
/****** Object:  ForeignKey [FKE8C9AC0917D79B7C]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Territories]  WITH CHECK ADD  CONSTRAINT [FKE8C9AC0917D79B7C] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([RegionId])
GO
ALTER TABLE [dbo].[Territories] CHECK CONSTRAINT [FKE8C9AC0917D79B7C]
GO
/****** Object:  ForeignKey [FK7E222050C7D0B317]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[TimesheetEntries]  WITH CHECK ADD  CONSTRAINT [FK7E222050C7D0B317] FOREIGN KEY([TimesheetID])
REFERENCES [dbo].[Timesheets] ([TimesheetId])
GO
ALTER TABLE [dbo].[TimesheetEntries] CHECK CONSTRAINT [FK7E222050C7D0B317]
GO
/****** Object:  ForeignKey [FKA6EEF73795E61DFF]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[TimeSheetUsers]  WITH CHECK ADD  CONSTRAINT [FKA6EEF73795E61DFF] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TimeSheetUsers] CHECK CONSTRAINT [FKA6EEF73795E61DFF]
GO
/****** Object:  ForeignKey [FKA6EEF737C7D0B317]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[TimeSheetUsers]  WITH CHECK ADD  CONSTRAINT [FKA6EEF737C7D0B317] FOREIGN KEY([TimesheetID])
REFERENCES [dbo].[Timesheets] ([TimesheetId])
GO
ALTER TABLE [dbo].[TimeSheetUsers] CHECK CONSTRAINT [FKA6EEF737C7D0B317]
GO
/****** Object:  ForeignKey [FK2C1C7FE5D8C957C7]    Script Date: 06/17/2010 13:08:54 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK2C1C7FE5D8C957C7] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK2C1C7FE5D8C957C7]
GO
